# Ignorar la carpeta de datos grandes
data/processed/

# Ignorar modelos entrenados
models/

# Ignorar resultados de experimentos
results/

# Ignorar cachés de Python
__pycache__/
*.pyc

# Ignorar archivos temporales de Jupyter
.ipynb_checkpoints/

# Ignorar logs locales
*.log

# NO ignorar archivos .dvc, necesarios para DVC
!*.dvc